<%= form_for @producto, :html => { :class => 'form-horizontal' }, :multipart=>true  do |f| %>
  <div class="control-group">
    <%= f.label :id_producto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :id_producto, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :descripcion, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nombre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cantidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :cantidad, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :precio, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :precio, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :foto, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :foto %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("Cancelar")),
                productos_path, :class => 'btn' %>
  </div>
<% end %>
