<%- model_class = Producto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id_producto) %>:</strong></dt>
  <dd><%= @producto.id_producto %></dd>
  <dt><strong><%= model_class.human_attribute_name(:descripcion) %>:</strong></dt>
  <dd><%= @producto.descripcion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @producto.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cantidad) %>:</strong></dt>
  <dd><%= @producto.cantidad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:precio) %>:</strong></dt>
  <dd><%= @producto.precio %></dd>
  <dt><strong>Foto:</strong></dt>
  <dd><%= image_tag @producto.foto_path %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("Atras")),
              productos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("Editar")),
              edit_producto_path(@producto), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("Eliminar")),
              producto_path(@producto),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("Estas seguro?", :default => 'Estas seguro?')) },
              :class => 'btn btn-danger' %>
</div>
