<p id="notice"><%= notice %></p>

<p>
  <b>Cedula:</b>
  <%= @usuario.cedula %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @usuario.ciudad %>
</p>

<p>
  <b>Direccion:</b>
  <%= @usuario.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @usuario.telefono %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Contrasena:</b>
  <%= @usuario.contrasena %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
